{% extends "base.html" %}
{% block content %}
  <h2>GitHub API</h2>
  <form method="get">
    <div class="form-group">
    <input type="text" class="form-control"  placeholder="Enter your query" name="username">
    </br>
    <button type="submit" class="btn btn-primary">Submit</button>
  </div>
  </form>
  {% if search_result %}
  <table class="table">
  <thead>
    <tr>
      <th scope="col">Repository name</th>
      <th scope="col">Description</th>
      <th scope="col">Star Rating</th>
      <th scope="col">Name</th>
      <th scope="col">Avtar</th>
      <th scope="col">Last Updated</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><a href="{{search_result.name}}"></a></td>
      <td>{{search_result.desc}}</td>
      <td>{{search_result.stars}}</td>
      <td>{{search_result.full_name}}</td>
      <td><img src="{{search_result.avatar_url}}" height=50/></td>
      <td>{{search_result.updated_at}}</td>
    </tr>
 </tbody>
</table>
  {% endif %}
{% endblock %}